<h1>Enter a valid password with following requirements : </h1>
<ul>
    <li>Must have atleast 1 special character.</li>
    <li>Must have atleast 1 numeric character.</li>
    <li>Must have atleast 1 capital letter.</li>
    <li>Must have atleast 8 characters long.</li>
</ul>
<p>Also note that you enter the same password in the confirmation field.</p>